<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="SmartCat::top_level" module="SmartCat_Connector" resource="Magento_Backend::content" sortOrder="79" title="Translation"/>
		<add action="smartcat_connector/profile/index" id="SmartCat_Connector::smartcat_connector_profile" module="SmartCat_Connector" parent="SmartCat::top_level" resource="Magento_Backend::content" sortOrder="10" title="Translation Profiles"/>
		<add action="smartcat_connector/project/index" id="SmartCat_Connector::smartcat_connector_project" module="SmartCat_Connector" parent="SmartCat::top_level" resource="Magento_Backend::content" sortOrder="20" title="Translation Dashboard"/>
	</menu>
</config>
