<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="smartcat_connector" id="smartcat_connector">
			<module before="Magento_Backend" name="SmartCat_Connector"/>
		</route>
	</router>
</config>
