<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="localization" sortOrder="999" translate="label">
			<label>Localization</label>
		</tab>
		<section id="smartcat_localization" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
			<label>Smartcat Translation Manager</label>
			<tab>localization</tab>
			<resource>SmartCat_Connector::config</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="server" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Server</label>
					<source_model>SmartCat\Connector\Model\Config\Source\ServerList</source_model>
					<validate>validate-select</validate>
					<comment>Select Smartcat server</comment>
				</field>
				<field id="application_id" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="2" translate="label" type="text">
					<label>Smartcat Account ID</label>
					<validate>validate-no-html-tags</validate>
					<comment>Insert your Smartcat account ID</comment>
				</field>
				<field id="token" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="3" translate="label" type="obscure">
					<label>API Key</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>validate-no-html-tags</validate>
					<comment>Insert Smartcat API Key</comment>
				</field>
				<field id="test" translate="label" type="label" sortOrder="4" showInDefault="1" showInStore="0" showInWebsite="0">
					<label>Note:</label>
					<comment><![CDATA[<a href="https://help.smartcat.ai/hc/en-us/articles/115002475012" target="_blank">Learn more</a> how to get Smartcat API credentials.]]></comment>
				</field>
				<field id="error_log" translate="label" type="button" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
					<frontend_model>SmartCat\Connector\Block\Adminhtml\System\Config\DownloadLog</frontend_model>
					<label>Error log</label>
				</field>
				<field id="version" translate="label" type="label" sortOrder="6" showInDefault="1" showInStore="0" showInWebsite="0">
					<label>Version:</label>
					<comment>1.5.0</comment>
				</field>
			</group>
		</section>
	</system>
</config>
